body, html {
    height: 100%;
}
div.body-block {
    height: 100%;
    display: flex;
    flex-direction: row;
    /*flex-direction: row;*/
}

div.left-side {
    flex: 1;
    display: flex;
    box-sizing: border-box;
    border: 10px solid red;
}

div.right-side {
    flex: 2;
    box-sizing: border-box;
    border: 10px solid blue;
}

.body-block .left-side .background-image {
    flex: 1;
    object-fit: cover;
    border: 10px yellow solid;
}