@font-face {
    font-family: 'Amonajaku';
    src: url(fonts/norse-font/Amanojaku.woff2)
}

:root {
    --primary-color: rgb(117, 94, 138);
    --secondary-color: rgba(240, 240, 240, 0.507);
    --third-color: white;
    --error-color: rgb(241, 57, 44);
    --success-color: rgb(91, 207, 37);
    --background-color: rgba(0, 0, 0, 0.322);
    --neutral-border: #c9cbcf;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'sans-serif', 'Roboto', 'Gil Sans', 'Helvetica', 'Verdana';
}
div.body-block {
    height: 100%;
    display: flex;
    flex-direction: row;
}

div.left-side {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 33%;
    background-image: url("images/japan-street.jpg");
    background-size: cover;
    justify-content: space-around;
    min-width: 15vh;
    min-height: 20vh;

}

div.right-side {
    flex: 1;
    background-color: var(--neutral-color);
}



div.right-side .upper-content,
div.right-side .footer-block {
    padding: 0 10px 0 30px;
    font-size: 18px;
    font-weight: 500;
}

.background-logo {
    display: flex;
    flex-wrap: wrap;
    background: var(--background-color);
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
}

.samurai-logo {
    width: 15vh;
    height: 15vh;
    object-fit: cover;
    margin: 0;
}

.samurai-title {
    font-family: 'Amonajaku';
    font-size: 28px;
    color: var(--third-color);
    margin: 0;
    text-align: center;
}

.background-footer {
    display: flex;
    align-self: center;
    margin-bottom: 30px;
}

.background-footer footer{
    color: var(--third-color);
    margin: auto;
}

.background-footer footer a{
    color: var(--third-color);
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
}

.form-block form fieldset{
    background-color: var(--third-color);
    margin: 0;
    padding-top: 30px;
    border: none;
    box-shadow: 0 10px 10px -10px;
}

input, label {
    display: block;
}


.input-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

.sibling-inputs {
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
}

.input-element {
    margin: 10px 0 10px 0;
    box-shadow: 0 2px 2px -2px;
}


.input-element label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 400;
    position: relative;
    top: -2px;
}

.form-block form fieldset {
    display: flex;
    flex-direction: column;
}

.form-block form fieldset legend {
    position: relative;
    top: 25px;
    left: 20px;
    font-size: 20px;
    font-weight: 600;
}

.form-block form button {
    font-size: 16px;
    font-weight: 800;
    color: var(--third-color);
    background-color: var(--primary-color);
    border: 2px var(--third-color) solid;
    padding: 12px 40px;
    border-radius: 6px;
    margin: 30px 0 0 32px;
}

div.right-side .footer-block a{
    color: var(--primary-color);
    font-weight: 600;
}

.input-element input {
    border: 1px solid var(--neutral-border);
}

.input-element label {
    height: 12px;
}

.input-element input:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}

.input-element:focus-within label::after {
    content: '\22EF';
    position: relative;
    right: -5px;
    background-color: var(--primary-color);
    border-radius: 2px;
    color: var(--third-color);
    font-weight: bold;
}


.input-element input[type=password]:user-invalid,
.input-element input[type=email]:user-invalid
{
    outline: none;
    border: 1px solid var(--error-color);
}

.input-element label:has(+ input[type=password]:user-invalid)::after,
.input-element label:has(+ input[type=email]:user-invalid)::after{
    content: '\2716';
    position: relative;
    right: -5px;
    background-color: var(--error-color);
    border-radius: 2px;
    color: var(--third-color);
    font-weight: bold;
}

.input-element label:has(+ input:user-valid)::after{
    content: '\2714';
    position: relative;
    right: -5px;
    background-color: var(--success-color);
    border-radius: 2px;
    color: var(--third-color);
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}